select {
	font-size: 83%;
}
form {
	width: 100%;
}
th {
	text-align: center;
}
td {
	text-align: left;
}
.fila {
}
.columna {
}
.fecha {
}
.codigo {
}
.cantidad {
}
.articulo {
	text-align: left;
	width: 50%;
}
.cliente {
	text-align: left;
	width: 25%;
}
#content {
	padding-left: 0px;
	padding-right: 0px;
}
